CSCE 4143: Data Mining\
Xintao Wu, Ph.D.\
Practice Project\
Group 7: Levi Crider, Caleb Holmes, Spencer Smith, and Ethan Weems

In [30]:
import pandas as pd

df = pd.read_table("./adult/adult.data")

In [31]:
display(df)

      39, State-gov, 77516, Bachelors, 13, Never-married, Adm-clerical, Not-in-family, White, Male, 2174, 0, 40, United-States, <=50K
0      50, Self-emp-not-inc, 83311, Bachelors, 13, Ma...
1      38, Private, 215646, HS-grad, 9, Divorced, Han...
2      53, Private, 234721, 11th, 7, Married-civ-spou...
3      28, Private, 338409, Bachelors, 13, Married-ci...
4      37, Private, 284582, Masters, 14, Married-civ-...
...                                                  ...
32555  27, Private, 257302, Assoc-acdm, 12, Married-c...
32556  40, Private, 154374, HS-grad, 9, Married-civ-s...
32557  58, Private, 151910, HS-grad, 9, Widowed, Adm-...
32558  22, Private, 201490, HS-grad, 9, Never-married...
32559  52, Self-emp-inc, 287927, HS-grad, 9, Married-...

[32560 rows x 1 columns]