CSCE 4143: Data Mining\
Xintao Wu, Ph.D.\
Practice Project\
Group 7: Levi Crider, Caleb Holmes, Spencer Smith, and Ethan Weems

In [162]:
import pandas as pd
labels = ["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "actual-value"]
continuous_cols = ["age", "fnlwgt", "capital-gain", "capital-loss", "hours-per-week"]
df = pd.read_table("./adult/adult.data", names=labels, delimiter=",")

In [163]:
df = df.drop(columns=continuous_cols)

# Replace "?" with NaN in the entire DataFrame
df.replace("?", pd.NA)

# Drop rows containing NaN values in any column
df.dropna(axis=0, how='any')

print(df.iloc[27])


# # Drop rows containing pd.NA in any column
# df.dropna(axis=0, how='any', inplace=True)
# 
# # Reset the index after dropping rows
# df.reset_index(drop=True, inplace=True)
# 
# # Print the updated DataFrame
# print(df.shape)
# df

workclass                           ?
education                Some-college
education-num                      10
marital-status     Married-civ-spouse
occupation                          ?
relationship                  Husband
race               Asian-Pac-Islander
sex                              Male
native-country                  South
actual-value                     >50K
Name: 27, dtype: object