CSCE 4143: Data Mining\
Xintao Wu, Ph.D.\
Practice Project\
Group 7: Levi Crider, Caleb Holmes, Spencer Smith, and Ethan Weems\
Step 2: Clustering

Import Packages

In [57]:
import pandas as pd
# from sklearn.preprocessing import Binarizer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.cluster import KMeans
# from sklearn.tree import DecisionTreeClassifier
# from sklearn.metrics import accuracy_score
# from sklearn.metrics import confusion_matrix
# from sklearn.naive_bayes import MultinomialNB
# import matplotlib.pyplot as plt

Import Data from Adult Data File

In [58]:
labels = ["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "actual-value"]
numeric_labels = ["age", "fnlwgt", "education-num", "capital-gain", "capital-loss", "hours-per-week"]
df = pd.read_table("./adult/adult.data", names=labels, delimiter=",")

Clean Data\
-Remove unknown values\
-Split numerical attributes into binary attributes

In [59]:
df = df.astype(str)

# using list comprehension
curr_labels = [i for i in labels if i not in numeric_labels]

substring = '\?' # character indicating null value
for label in curr_labels:
   filter = df[label].str.contains(substring) 
   df = df[~filter]

df = df.reset_index(drop=True)

df[numeric_labels] = df[numeric_labels].astype(float)

mean_values = df[numeric_labels].mean()#.to_dict()
# print(mean_values)

for num_label, threshold in mean_values.items():
    # print(num_label, threshold)
    df[num_label] = df[num_label].apply(lambda x: 1 if x >= threshold else 0)

df[numeric_labels]

       age  fnlwgt  education-num  capital-gain  capital-loss  hours-per-week
0        1       0              1             1             0               0
1        1       0              1             0             0               0
2        0       1              0             0             0               0
3        1       1              0             0             0               0
4        0       1              1             0             0               0
...    ...     ...            ...           ...           ...             ...
30157    0       1              1             0             0               0
30158    1       0              0             0             0               0
30159    1       0              0             0             0               0
30160    0       1              0             0             0               0
30161    1       1              0             1             0               0

[30162 rows x 6 columns]

Perform One-Hot Encoding and Split Data

In [56]:
X = df[curr_labels[0 : len(curr_labels) - 1]]
y = df["actual-value"].values

one_hot = OneHotEncoder()
label_encoder = LabelEncoder()
x_encode = one_hot.fit_transform(X).toarray()
y_encode = label_encoder.fit_transform(y)

X_train, X_test, y_train, y_test = train_test_split(x_encode, y_encode, test_size=0.2)

Build K-means Clustering Algorithm